node_modules
commands/new_commands
unfinished_temp
.env
config.json
package.json
package-lock.json
data/files/anomalies.csv
data/files/feedback.csv
data/files/suggest.csv
data/files/suggestL.csv
data/files/suggestTest.txt
